.grid_container_contacto {
        width: 100%;
        display: grid;
        gap: 5px;
        grid-template-areas: 
        "header"
        "main"
        "footer";
        grid-template-rows: 150px 1400px 230px;
    }

    .contacto__container {
        /*     background-color: aqua;*/    
            width: 750px;
            margin: 50px auto 0 auto;
        }
        
        .contacto__titulo {
            text-align: center;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 60px;
            margin-bottom: 50px;
        }

        .contacto_form {
            height: 1200px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
        
        .contacto__fieldset {
            width: 700px;
            height: 200px;
            border: #000000 3px solid;
        }

        .fieldset_campos {
            height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
        
        .contacto__legend {
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 20px;
        }
        
        .contacto__div {
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 15px;
        }
        
        .contacto__input {
            width: 600px;
            height: 35px;
            border: 1px solid black;
            border-radius: 20px;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
        
        }
        
        .mensaje__titulo {
            text-align: center;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 20px;
        }
        
        .mensaje__textarea {
            width: 750px;
            height: 300px;
            border: 1px solid #000000;
            border-radius: 10px;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
        }
        
        /* .contacto__radio {
            width: 500px;
            margin: 0 auto;
        } */

        .contacto__radio__opciones {
            margin-top: 50px;
            width: 300px;
            display: flex;
            justify-content: space-between;
        }
        
        .contacto__radio p {
            text-align: center;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 20px;
        }
        
        .radio__input {
            display: inline;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 15px;
        }
        
        .tyc__p1 {
            text-align: center;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 20px;
        }
        
        .tyc__p2 {
            display: inline;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 15px;
        }
        
/*         .checkbox__container {
            width: 350px;
            text-align: center;
            margin-left: 50px;
        } */

        .contacto__tyc {
            height: 70px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        
        .contacto__botones__container {
            width: 500px;
            display: flex;
            justify-content: space-between;
        }
        
        .contacto__botones__container input {
            width: 200px;
            height: 50px;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 15px;
            background-color: #ffffff;
            border: 1px solid black;
        }


@media (min-width: 576px) and (max-width: 992px) {
    .contacto__fieldset {
        width: 570px;
    }

    .mensaje__textarea {
        width: 630px;
    }

        .contacto__titulo {
            font-size: 60px;
        }
        
        .contacto__legend {
            font-size: 30px;
        }
        
        .contacto__div {
            font-size: 20px;
        }
    
        
        .mensaje__titulo {
            font-size: 30px;
        }
        
        .contacto__radio p {
            font-size: 30px;
        }
        
        .radio__input {
            font-size: 20px;
        }
        
        .tyc__p1 {
            font-size: 25px;
        }
        
        .tyc__p2 {
            font-size: 20px;
        }
        
        .contacto__botones__container input {
            font-size: 20px;
        }
}

@media (max-width: 576px) {

    .grid_container_contacto {
        grid-template-rows: 150px 2000px 230px;
    }

    .contacto_form {
        height: 1800px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .contacto__fieldset {
        width: 300px;
        height: 300px;
    }

    .fieldset_campos {
        height: 200px;
    }

    .mensaje__textarea {
        width: 650px;
    }

    .contacto__radio__opciones {
        width: 400px;
    }

    .contacto__tyc {
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

        .contacto__titulo {
            font-size: 80px;
        }
        
        .contacto__legend {
            font-size: 40px;
        }
        
        .contacto__div {
            font-size: 30px;
        }
    
        .mensaje__titulo {
            font-size: 40px;
        }
        
        .contacto__radio p {
            font-size: 40px;
        }
        
        .radio__input {
            font-size: 30px;
        }
        
        .tyc__p1 {
            font-size: 35px;
        }
        
        .tyc__p2 {
            font-size: 30px;
        }

        .contacto__botones__container {
            width: 600px;
        }
        
        .contacto__botones__container input {
            font-size: 30px;
            width: 250px;
            height: 75px;
        }
}